<a href="https://colab.research.google.com/github/razan-wari/Gaza-Sky-Geeks/blob/main/Car_price_prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:

import warnings
warnings.filterwarnings('ignore')

#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
cars = pd.read_csv('/content/CarPrice_Assignment.csv')

CompanyName = cars['CarName'].apply(lambda x : x.split(' ')[0])
#cars.insert(3,"CompanyName",CompanyName)
#cars.drop(['CarName'],axis=1,inplace=True)
#cars.head()
#cars.CarName.unique()
print (CompanyName)

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: CarName, Length: 205, dtype: object