<a href="https://colab.research.google.com/github/razan-wari/Gaza-Sky-Geeks/blob/main/Fraud_Dediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
fraud_dediction = pd.read_csv('/content/data2.csv')
fraud_dediction.head(10002)
fraud_dediction.info()
fraud_dediction.isnull().sum()
x = fraud_dediction.drop(columns='Profession', axis=1)
y = fraud_dediction['Profession']
print(x)
print(y)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Profession          10000 non-null  object
 1   Income              10000 non-null  int64
 2   Credit_card_number  10000 non-null  int64
 3   Expiry              10000 non-null  object
 4   Security_code       10000 non-null  int64
 5   Fraud               10000 non-null  int64
dtypes: int64(4), object(2)
memory usage: 468.9+ KB
      Income   Credit_card_number Expiry  Security_code  Fraud
0      42509     3515418493460774  07/25            251      1
1      80334      213134223583196  05/32            858      1
2      91552     4869615013764888  03/30            755      1
3      43623      341063356109385  01/29            160      1
4      22962  4707418777543978402  11/30            102      0
...      ...                  ...    ...            ...    ...
9995    2705         502092127427  09/27            422      1
9996   37862      349490624391408  07/34            811      0
9997   83152     4990903961714432  11/24            216      1
9998   90620     4827611166572112  01/33            180      1
9999   94529     4906715586330631  12/29            399      1

[10000 rows x 5 columns]
0         DOCTOR
1         DOCTOR
2         LAWYER
3         LAWYER
4         DOCTOR
          ...
9995      DOCTOR
9996      LAWYER
9997    ENGINEER
9998      DOCTOR
9999      LAWYER
Name: Profession, Length: 10000, dtype: object