<a href="https://colab.research.google.com/github/razan-wari/Gaza-Sky-Geeks/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import missingno as msno
import datetime as dt
# Read in the dataset
airbnb = pd.read_csv('/content/House Rent.csv')
# Print the header of the DataFrame
airbnb.head()
# Print data types of DataFrame
airbnb.dtypes

Posted On            object
BHK                   int64
Rent                  int64
Size                  int64
Floor                object
Area Type            object
Area Locality        object
City                 object
Furnishing Status    object
Tenant Preferred     object
Bathroom              int64
Point of Contact     object
dtype: object